.vs/
Assignment1/bin/
Assignment1/obj/
packages/
Donation.Models/obj/
Donation.Models/bin/
Donation.IdentityModels/obj/
Donation.IdentityService/bin/
Donation.IdentityService/obj/
Donation.IdentityModels/bin/
Donation.Services/bin/
Donation.Services/obj/
